<div class='launch-table__heading-row'>
    <div class='launch-table__cell small' (click)='sortTable("flight_number")'>
        Flight Number
    </div>
    <div class='launch-table__cell small' (click)='sortTable("launch_date_unix")'>
        Launch Year
    </div>
    <div class='launch-table__cell small'>
        Rocket Name
    </div>
    <div class='launch-table__cell large'>
        Details
    </div>
</div>
<app-launch-row *ngFor='let launch of displayLaunches' [launch]='launch'></app-launch-row>