.app__app-container {
    display: grid;
    height: 100vh;
    width: 100%;
}

.app-container__heading {
    display: flex;
    margin: 0 10% 20px 10%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: 200px;
    -webkit-text-stroke: 1px black;
    color: white;
    background-image: url('../assets/launch2.png')
}
